footer{
    border-top: 2px solid black;
    background: var(--footer-bg); 
    margin: 0;
    padding: 4rem 0;

    & .footer-text{
        line-height: 10px;
    }
}

.footer-topborder{
    background: linear-gradient(to right, #FF0000, #F1E400, #76E244, #00A7E7); 
    height: 0.2rem;
}

hr{
    color: rgb(255, 255, 255)!important;
    height: 0.2rem;
}

.footer-icons{
    color: var(--white);
    font-size: 4rem;
    
    &:hover{
        color: var(--primary-bg);
        transform: scale(1.2);
    }
}

