footer{
    background: #242c30!important;
    margin: 0;
    padding: 4rem 0;

    & .footer-text{
        line-height: 10px;
    }

}

.footer-icons{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    
    &:hover{
        color: #00426f;
        transform: scale(1.2);
    }
}