footer{
    background: var(--footer-bg);
    margin: 0;
    padding: 4rem 0;

    & .footer-text{
        line-height: 10px;
    }
}

.footer-icons{
    color: var(--white);
    font-size: 4rem;
    
    &:hover{
        color: var(--primary-bg);
        transform: scale(1.2);
    }
}