input, textarea {
    color: var(--font-color) !important;
    font-size: 1.5rem!important;
    background: transparent!important ;
    border-radius: 0!important;
    border: none!important;
    border-bottom: 2px var(--font-color) solid!important;
    resize: none!important;
  }

  ::placeholder {  
    color: var(--font-link-color)!important;
    text-align: center;
  }