.hero{
    margin-top: 14rem!important;
}

.hero-overlay{  
    width: 100%;
    height: 95vh;
    background: linear-gradient( 90.26deg,  rgba(65, 65, 65, 0.4) 17.75%,  rgba(49, 49, 49, 0.89) 99.89%); 
    position: absolute;     
    z-index: 1;       
    }

.hero-image{
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;    
} 


 