.nav-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;

    &:hover{
        color: rgb(187, 187, 187);
    }
    
    & .active {
        color: rgb(197, 50, 50);
        text-decoration: none;
    }
}

.navbar-custom {
    background-color: rgba(66, 66, 66, 0.75);
}

.hidden{
    display: none;
}