.product-items{
    max-height: 50%;
}

.product-image{
    max-height: 50%;
}

.product-item{ 
    margin: 0; 

    &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.452);
        

        & .product-text h3, p{
            color: rgb(255, 255, 255)!important;
        }
      } 
}