.product-items{
    max-height: 50%;
}

.product-image{
    max-height: 50%;
}

.product-item{ 
    margin: 0; 

    &:nth-child(even) {
        flex-direction: row-reverse; 
        background-color: var(--secondary-bg);
    } 
}