.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;

    &:hover{
        opacity: 0.75; 
    }    
}

.card-img-overlay{
    background-color: rgba(136, 136, 136, 0.308) !important;
}

.product-items{
    height: 100%;
}

.card-text{
    & h3{
        font-size: 2rem;
        color: rgb(255, 255, 255) !important;      
        }
    & p{
        color: rgb(255, 255, 255) !important;      
        }
                
}  