.intro-image{
    height: 100%;
    opacity: 75%;
    z-index: 0;
} 
     
.intro-text{  
    font-size: 4rem; 
    z-index: 10;  
}


.howwework-image{
    height: 100%;
    opacity: 75%;
    z-index: 0;
} 
     
.howwework-text{   
    z-index: 10;  
}