:root {
 
/* colors */
  --primary-bg: #555555;
  --secondary-bg: #333333;
  --selection-bg: #71bbd8;
  --footer-bg: #292929;
  --font-color: #fff;
  --font-link-color: #dbdbdb;
  --white: #fff;
  --black: #000;
}
