@use 'components/article-preview';
@use 'components/footer';
@use 'components/form';
@use 'components/hero';
@use 'components/heroimg';
@use 'components/herovideo';
@use 'components/sectionvideo';
@use 'components/navigation';
@use 'components/product-group';
@use 'components/product-item';
@use 'components/solutions-item';
@use 'components/tags';
@use 'components/team';
@use 'templates/blog-post';
@use './variables';
 

@font-face {
    font-family: 'futur'; 
    src: url('/fonts/futur.woff2') format('woff2');
} 

@font-face {
    font-family: 'Montserrat-Regular'; 
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto-Regular'; 
    src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}


html {
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x: hidden;
}
      
html * {
    box-sizing: border-box; 
}
      

body{
    background-color: var(--primary-bg)!important;
}

::selection {
    background:  var(--selection-bg);
    color: var(--black);
}


h1 { 
    font-family: 'futur';
    font-size: 5vw !important;
    background: linear-gradient(to right, #FF0000, #F1E400, #76E244, #00A7E7);  
}

.text {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2); 
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.103); 
  }

h2, h3, h4, h5, h6 { 
    font-family: 'futur';
    color: white; 
}

h2 {
    font-size: 5rem!important; 
}

h3 {
    font-size: 3.5rem!important;
}

h4 {
    font-size: 3rem!important;
}

h5 {
    font-size: 2.5rem!important;
} 

h6 {
    font-size: 2rem!important;
}

p { 
    font-family: 'Montserrat-Regular'; 
    color: white!important;
    font-size: 1.6rem;
}

section{
    padding: 10rem 0!important; 

    &:nth-child(odd) { 
        background-color: var(--secondary-bg);
    } 

    &.productgroup-section{
        padding: 0!important;
    }
}

.btn-outline-light{
    margin-top: 1rem;
    padding: 1rem 4rem !important;
    text-transform: uppercase!important;
    font-size: 1.8rem!important;
}
  .btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:visited {
   background-image: linear-gradient(to right, #FF0000 , #F1E400, #76E244, #00A7E7)!important;
}


a, .link{
    color: var(--font-link-color)!important;
    font-weight: 600;
    text-decoration: none !important;
    
    &:hover{
      color: rgba(129, 129, 129, 0.5) !important; 
   } 
}

/* INDEX */
.intro-image{
    height: 100%;
    opacity: 75%;
    z-index: 0;
} 
     
.intro-text{  
    font-size: 4rem; 
    z-index: 10;  
}


.howwework-image{
    height: 100%;
    opacity: 75%;
    z-index: 0;
} 
     
.howwework-text{   
    z-index: 10;  
}

/* ABOUT US*/
.section-image{
    height: 100%;
    opacity: 1%;
    z-index: 0;
} 
     
.section-text{  
    font-size: 4rem; 
    z-index: 10;  
}
 
/* SOLUTIONS */

.post-list{
    list-style: none;
}

/* CONTACT */

.address-icon{
    font-size: 2rem;
}


.card-img{
    // transform: scale(0.8);
    &:hover{
        transform: scale(1.02);
    }
}