@use 'components/article-preview';
@use 'components/footer';
@use 'components/form';
@use 'components/hero';
@use 'components/heroimg';
@use 'components/herovideo';
@use 'components/sectionvideo';
@use 'components/navigation';
@use 'components/product-group';
@use 'components/product-item';
@use 'components/solutions-item';
@use 'components/tags';
@use 'components/team';
@use 'components/variables';
@use 'pages/solutions';
@use 'pages/aboutus';
@use 'pages/blog';
@use 'pages/contact';
@use 'pages/index';
@use 'pages/products';
@use 'templates/blog-post';

 

// @font-face {
//     font-family: 'Bitter';
//     font-weight: 100 900;
//     font-display: swap;
//     font-style: normal;
//     font-named-instance: 'Regular';
//     src: url('/fonts/Bitter-VariableFont_wght.woff2') format('woff2');
// }
  
// @font-face {
//     font-family: 'Bitter';
//     font-weight: 100 900;
//     font-display: swap;
//     font-style: italic;
//     font-named-instance: 'Italic';
//     src: url('/fonts/Bitter-Italic-VariableFont_wght.woff2') format('woff2');
// }

// @font-face {
//     font-family: 'WorkSans';
//     font-weight: 100 900;
//     font-display: swap;
//     font-style: normal;
//     font-named-instance: 'Regular';
//     src: url('/fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
// }
  
// @font-face {
//     font-family: 'WorkSans';
//     font-weight: 100 900;
//     font-display: swap;
//     font-style: italic;
//     font-named-instance: 'Italic';
//     src: url('/fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2');
// }

// @font-face {
//     font-family: 'Monoton';
//     font-weight: 400;
//     font-display: swap;
//     font-style: regular;
//     font-named-instance: 'Regular';
//     src: url('/fonts/Monoton-Regular.woff2') format('woff2');
// }


html {
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x: hidden;
}
      
html * {
    box-sizing: border-box; 
}
      

body{
    background-color: #00426f!important;
}

::selection {
    background:  var(--selection-bg);
    color: var(--black);
}





h1 { 
    font-family: 'Monoton', cursive;
    font-size: 4rem !important;
    background: linear-gradient(to right, #FF0000, #F1E400, #76E244, #00A7E7); 
}

.text {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2); 
  }

h2, h3, h4, h5, h6 { 
    font-family: 'Bitter', serif;
    color: white; 
}

h2 {
    font-size: 5rem!important; 
}

h3 {
    font-size: 3.5rem!important;
}

h4 {
    font-size: 3rem!important;
}

h5 {
    font-size: 2.5rem!important;
} 

h6 {
    font-size: 2rem!important;
}

p { 
    font-family: 'Work Sans', sans-serif;
    color: white!important;
    font-size: 1.6rem;
}

section{
    margin: 5rem 0; 
}

.btn-outline-light{
    margin-top: 1rem;
    padding: 1rem 4rem !important;
    text-transform: uppercase!important; 
}
  .btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:visited {
   background-image: linear-gradient(to right, #FF0000 , #F1E400, #76E244, #00A7E7)!important;
}


a, .link{
    color: var(--font-link-color)!important;
    font-weight: 600;
    text-decoration: none !important;
    
    &:hover{
      color: rgba(124, 124, 124, 0.493) !important; 
   } 
}
 
.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


